<section id="section-main" class="section-reservation">
  <div class="w800">
    <div id="status-track">
      <a class="complete" href="#">
        <i class="fa fa-check-circle-o"></i>
        <div class="lbl">Dates</div>
        <div class="sub">Jan 21 - Jan 22</div>
      </a>
      <a class="complete" href="#"><i class="fa fa-th-list"> </i>
        <div class="lbl">Rooms</div>
        <div class="sub">NQ1 - #111</div>
      </a>
      <a class="complete" href="#"><i class="fa fa-credit-card"></i>
        <div class="lbl">Payment</div>
      </a>
      <a class="current" href="#"><i class="fa fa-users"></i>
        <div class="lbl">Guest Info</div>
      </a>
    </div>

    <table class="guests-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @guests.each do |guest| %>
          <% if !((guest.id == nil) || (guest.first_name == nil)) %>
            <tr class="guest-item">
              <td class="guest-details-c">
                <div class="name">
                  <%= guest.first_name + " " + guest.last_name %>
                </div>
                <% if guest.phone1 != nil %>
                <div class="guest-details">
                  <div class="phone"><%= guest.phone1 %></div>
                </div>
                <% end %>
                <% if guest.email != nil %>
                <div class="guest-details">
                  <div class="email"><%= guest.email %></div>
                </div>
                <% end %>
              </td>
              <td>
                <div class="guest-actions">
                  <div><a href="#">Send Confirmation</a></div>
                  <div><a href="#">Edit</a></div>
                  <div>
                    <%= link_to "Remove", guest, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= form_for [@reservation, @guest] do |f| %>
      <div class="field split">
        <div class="equal">
          <label for="">First Name</label>
          <input type="text" />
        </div>
        <div class="equal">
          <label for="">Last Name</label>
          <input type="text" />
        </div>
      </div>
      <div class="field">
        <label for="">Phone</label>
        <input type="text" />
      </div>
      <div class="field">
        <label for="">Email</label>
        <input type="text" />
      </div>

      <%= button_tag class: "btn" do %>
        Add New Guest
      <% end %>

      

      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="actions">
        <div><a href="">Print Confirmation</a></div>
        <div>
          <%= link_to reservation_transactions_path(@reservation), class: "btn btn-aqua" do %>
            <i class="fa fa-angle-left fa"></i> Back
          <% end %>
        <a class="btn btn-aqua spacer-v" href="#">Finish </a></div>
      </div>

    <% end %>

    <div class="spacer"></div>


  </div>

</section>