<section id="section-main" class="section-reservation">
  <div class="w800">
    <div id="status-track">
      <a class="complete" href="#">
        <i class="fa fa-check-circle-o"></i>
        <div class="lbl">Dates</div>
        <div class="sub"><%= @reservation.arrival_date.strftime('%b %d') %> - <%= @reservation.departure_date.strftime('%b %d') %></div>
      </a>
      <a class="complete" href="#"><i class="fa fa-th-list"> </i>
        <div class="lbl">Rooms</div>
        <div class="sub">#<%= @reservation.room.room_number %></div>
      </a>
      <%= link_to reservation_transactions_path(@reservation), class: "complete" do %>
        <i class="fa fa-credit-card"></i>
        <div class="lbl">Payment</div>
        <div class="sub"><%= number_to_currency(@reservation.rate) %></div>      
      <% end %>
      <a class="current" href="#"><i class="fa fa-users"></i>
        <div class="lbl">Guest Info</div>
      </a>
    </div>

    <table class="guests-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @guests.each do |guest| %>
          <% if !((guest.id == nil) || (guest.first_name == nil)) %>
            <tr class="guest-item">
              <td class="guest-details-c">
                <div class="name">
                  <%= guest.first_name + " " + guest.last_name %>
                </div>
                <% if guest.phone1 != nil %>
                <div class="guest-details">
                  <div class="phone"><%= guest.phone1 %></div>
                </div>
                <% end %>
                <% if guest.email != nil %>
                <div class="guest-details">
                  <div class="email"><%= guest.email %></div>
                </div>
                <% end %>
              </td>
              <td>
                <div class="guest-actions">
                  <div><a href="#">Send Confirmation</a></div>
                  <div><a href="#">Edit</a></div>
                  <div>
                    <%= link_to "Remove", guest, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= form_for [@reservation, @guest] do |f| %>
    <%= f.hidden_field :reservation_id %>
      <div class="field split">
        <div class="equal">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="equal">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>
      <div class="field">
        <%= f.label :phone1 %>
        <%= f.text_field :phone1 %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <%= button_tag class: "btn" do %>
        Add New Guest
      <% end %>

      

      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="actions">
        <div><a href="">Print Confirmation</a></div>
        <div>
          <%= link_to reservation_transactions_path(@reservation), class: "btn btn-aqua" do %>
            <i class="fa fa-angle-left fa"></i> Back
          <% end %>

          <%= link_to "Finish", reservations_path, class: "btn btn-aqua spacer-v" %>
        
        </div>
      </div>

    <% end %>

    <div class="spacer"></div>


  </div>

</section>