<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<br>
<br>

<% if !current_user.property %>
	User does not belong to any property. <br>
	Join a property now: 
	<%= form_for current_user, :url => welcome_path do |f| %>
		<div class="field">
			<%= f.label :property_id %>
			<%= f.collection_select(:property_id, Property.all, :id, :name, {include_blank: true}) %>
		</div>		
		<div class="field">
			<%= label_tag :access_code %><br>
			<%= text_field_tag :access_code %>
		</div>
		<%= f.submit %>
	<% end %>
<% else %>
	<%= link_to "Reservations", property_reservations_path(current_user.property) %>  <br>
<% end %>

