<section id="section-main">
	<div class="section-container">
		<% if !current_user.property %>
			User does not belong to any property. <br>
			Join a property now: 
			<%= form_for current_user, :url => welcome_path do |f| %>
				<div class="field">
					<%= f.label :property_id %>
					<%= f.collection_select(:property_id, Property.all, :id, :name, {include_blank: true}) %>
				</div>		
				<div class="field">
					<%= label_tag :access_code %><br>
					<%= text_field_tag :access_code %>
				</div>
				<%= f.submit %>
			<% end %>
		<% else %>		
			<div class="items-container">
				<div class="item">
					<a href="#"><div class="item-icon-container rooms-icon"><i class="fa fa-home fa-5x"></i></div><h2>Rooms</h2>
					</a>
				</div>	
				<div class="item">
					<a href="#"><div class="item-icon-container checkin-icon"><i class="fa fa-bell-o fa-5x"></i></div><h2>Check In</h2>
					</a>        
				</div>
				<div class="item">
					<%= link_to reservations_path do %>
						<div class="item-icon-container reservation-icon"><i class="fa fa-question-circle fa-5x"></i></div><h2>Reservations</h2>
					<% end %>
				</div>
				<div class="item">
					<a href="#"><div class="item-icon-container calendar-icon"><i class="fa fa-calendar fa-5x"></i></div><h2>Calendar</h2>
					</a>        
				</div>
				<div class="item">
					<a href="#"><div class="item-icon-container search-icon"><i class="fa fa-search fa-5x"></i></div><h2>Search</h2>
					</a>        
				</div>
				<div class="item">
					<a href="#"><div class="item-icon-container reports-icon"><i class="fa fa-file-text-o fa-5x"></i></div><h2>Reports</h2>
					</a>        
				</div>
				<div class="item">
					<%= link_to edit_property_path current_user.property do %>
						<div class="item-icon-container settings-icon"><i class="fa fa-cog fa-5x"></i></div><h2>Settings</h2>
					<% end %>       
				</div>
			</div>
		<% end %>		
	</div>
</section>
