<section class="section-welcome">
	<div class="section-container">
		<% if !current_user.property %>
			User does not belong to any property. <br>
			Join a property now: 
			<%= form_for current_user, :url => welcome_path do |f| %>
				<div class="field">
					<%= f.label :property_id %>
					<%= f.collection_select(:property_id, Property.all, :id, :name, {include_blank: true}) %>
				</div>		
				<div class="field">
					<%= label_tag :access_code %><br>
					<%= text_field_tag :access_code %>
				</div>
				<%= f.submit %>
			<% end %>
		<% else %>
			<div class="items-container">
				<div class="item">
					<a href="#"><div class="icon-container"><i class="fa fa-question-circle fa-5x"></i></div></a>
					<a href="#">Walk In</a>
				</div>
				<div class="item">
					<%= link_to property_reservations_path(current_user.property) do %>
						<div class="icon-container"><i class="fa fa-question-circle fa-5x"></i></div>
					<% end %>
					<%= link_to "Reservations", property_reservations_path(current_user.property) %>
				</div>
				<div class="item">
					<a href="#"><div class="icon-container"><i class="fa fa-question-circle fa-5x"></i></div></a>
					<a href="#">Calendar</a>
				</div>
				<div class="item">
					<a href="#"><div class="icon-container"><i class="fa fa-question-circle fa-5x"></i></div></a>
					<a href="#">Search</a>
				</div>
				<div class="item">
					<a href="#"><div class="icon-container"><i class="fa fa-question-circle fa-5x"></i></div></a>
					<a href="#">Reports</a>
				</div>
				<div class="item">
					<a href="#"><div class="icon-container"><i class="fa fa-question-circle fa-5x"></i></div></a>
					<a href="#">Settings</a>
				</div>
			</div>
		<% end %>		
	</div>
</section>
