<section id="section-main" class="section-reservation">
  <div class="w800">
    <div id="status-track">
      <a class="current" href="#">
        <i class="fa fa-calendar"></i>
        <div class="lbl">Dates</div>
      </a>
      <a class="future" href="#"><i class="fa fa-th-list"> </i>
        <div class="lbl">Rooms</div>
      </a>
      <a class="future" href="#"><i class="fa fa-users"></i>
        <div class="lbl">Payment</div>
      </a>
      <a class="future" href="#"><i class="fa fa-users"></i>
        <div class="lbl">Guest Info</div>
      </a>
    </div>

    <%= form_tag(new_reservation_path, method: "get") do %>
      <%= label_tag "arrival_date", "Check In" %>
      <%= date_field_tag(:arrival_date, @arrival_date) %>
      <div class="spacer"></div>
      <%= label_tag "departure_date", "Check Out" %>
      <%= date_field_tag(:departure_date, @departure_date) %>

      <div class="spacer"></div>
      <div class="actions">
        <div>
        	<%= link_to "Cancel", welcome_index_path %>
        </div>
        <div>
			<%= button_tag class: "btn btn-aqua spacer-v" do %>
				Continue <i class="fa fa-angle-right fa"></i>
			<% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>