<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Arrival date</th>
      <th>Departure date</th>
      <th>Adults</th>
      <th>Children</th>
      <th>Room type</th>
      <th>Room</th>
      <th>Rate</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.property %></td>
        <td><%= reservation.arrival_date %></td>
        <td><%= reservation.departure_date %></td>
        <td><%= reservation.adults %></td>
        <td><%= reservation.children %></td>
        <td><%= reservation.room_type %></td>
        <td><%= reservation.room %></td>
        <td><%= reservation.rate %></td>
        <td><%= reservation.notes %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
