<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<table class="rwd-table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Room #</th>
      <th>Guests</th>
      <th>Arrival date</th>
      <th>Departure date</th>
      <th>Adults</th>
      <th>Children</th>
      <th>Room type</th>      
      <th>Rate</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.property.name %></td>
        <td><%= reservation.room %></td>
        <td>
          <ul>
            <% reservation.guests.each do |guest| %>
              <li>guest.first_name guest.last_name</li>
            <% end %>            
          </ul>          
        </td>
        <td><%= reservation.arrival_date %></td>
        <td><%= reservation.departure_date %></td>
        <td><%= reservation.adults %></td>
        <td><%= reservation.children %></td>
        <td><%= reservation.room_type.name %></td>
        <td><%= reservation.rate %></td>
        <td><%= reservation.notes %></td>
        <td><%= link_to 'Show', property_reservation_path(reservation.property, reservation) %></td>
        <td><%= link_to 'Edit', edit_property_reservation_path(reservation.property,reservation) %></td>
        <td><%= link_to 'Destroy', property_reservation_path(reservation.property, reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_property_reservation_path(current_user.property) %>
