<section id="force-full-height">
  <h5 class="title">Reservations</h5>
  <%= link_to '+ Create New Reservation', reservations_new_dates_lookup_path, class: "btn" %>
  <div class="spacer"></div>
  <%= form_tag reservations_path, method: "get" do %>
    <div class="rbutton-wrapper">
      <%= radio_button_tag(:arrival_date, Date.today, @arrival_date == Date.today) %>
      <%= label_tag "arrival_date_#{Date.today}", "Today (#{Date.today})", class: "rbutton" %>
    </div>
    <div class="rbutton-wrapper">
      <%= radio_button_tag(:arrival_date, (Date.today + 1), @arrival_date == (Date.today + 1)) %>
      <%= label_tag "arrival_date_#{Date.today + 1}", "Tomorrow (#{Date.today + 1})", class: "rbutton" %>
    </div>
    <%= submit_tag("ENTER", class: "btn") %>
  <% end %>
  <ul class="res-list">
    <% @reservations.each do |reservation| %>
      <li class="res-item">
        <div class="room-number">
          <% if reservation.room == nil %>
            --
          <% else %>
            reservation.room.room_number
          <% end %>
        </div>
        <div class="res-details-c">
          <div class="names">
            <% if reservation.guests.size == 0 %>
              [None]
            <% else %>
              <%= reservation.guests.collect {|x| x.first_name + " " + x.last_name}.join(", ") %>
            <% end %>
          </div>
          <div class="res-details">
            <div class="res-arrival">Arriving: <%= reservation.arrival_date.strftime('%a %d %b %Y') %></div>
            <div class="res-leaving">Leaving: <%= reservation.departure_date.strftime('%a %d %b %Y') %></div>
            <div class="res-nights"><%= (reservation.departure_date - reservation.arrival_date).to_i %> Nights</div>
          </div>
          <div class="res-badges">
            <span class="badge btn-red">Unpaid</span>
            <span class="badge btn-orange">Note</span>
          </div>
        </div>
        <div class="res-actions">
          <div><a href="#">Check In</a></div>
          <div><a href="#">View</a></div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= link_to '+ Create New Reservation', reservations_new_dates_lookup_path, class: "btn" %>
</section>