<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>
<br><br>
Reservations for:
<%= form_tag reservations_path, method: "get" do %>
  <%= radio_button_tag(:arrival_date, Date.today, @arrival_date == Date.today) %>
  <%= label_tag("arrival_date_#{Date.today}", "Today (#{Date.today})") %>
  
  <%= radio_button_tag(:arrival_date, (Date.today + 1), @arrival_date == (Date.today + 1)) %>
  <%= label_tag("arrival_date_#{Date.today + 1}", "Tomorrow (#{Date.today + 1})") %>

  <%= submit_tag("ENTER", class: "btn") %>
<% end %>

<table class="rwd-table">
  <thead>
    <tr>
      <th>Property</th>
      <th>Room #</th>
      <th>Guests</th>
      <th>Arrival date</th>
      <th>Departure date</th>
      <th>Adults</th>
      <th>Children</th>
      <th>Room type</th>      
      <th>Rate</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.property.name %></td>
        <td>
          <% if reservation.room %>
            <%= reservation.room.room_number %>
          <% end %>
        </td>
        <td>
          <ul>
            <% reservation.guests.each do |guest| %>
              <li><%= guest.first_name %> <%= guest.last_name %></li>
            <% end %>            
          </ul>          
        </td>
        <td><%= reservation.arrival_date %></td>
        <td><%= reservation.departure_date %></td>
        <td><%= reservation.adults %></td>
        <td><%= reservation.children %></td>
        <td><%= reservation.room_type.name %></td>
        <td><%= reservation.rate %></td>
        <td><%= reservation.notes %></td>
        <td><%= link_to 'Show', reservation_path(reservation) %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', reservations_new_dates_lookup_path %>
