<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @reservation.property.name %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @reservation.arrival_date %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @reservation.departure_date %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @reservation.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @reservation.children %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @reservation.room_type.code %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @reservation.rate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reservation.notes %>
</p>

<%= link_to 'Edit', edit_property_reservation_path(@reservation.property, @reservation) %> |
<%= link_to 'Back', property_reservations_path(@reservation.property) %>
