<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @reservation.property.name %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @reservation.arrival_date %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @reservation.departure_date %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @reservation.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @reservation.children %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @reservation.room_type.code %>
</p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @reservation.rate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @reservation.notes %>
</p>

<p>
  Guest(s)<br>
  <ul>
    <% @guests.each do |guest| %>
      <li>
        <%= guest.first_name + ' ' + guest.last_name %> <%= link_to 'edit', edit_guest_path(guest) %><br>
      </li>
    <% end %>
  </ul>
  <br>
  <%= link_to "Add Guest to this Reservation", new_guest_path(res: @reservation.id) %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
