<section class="section-login">
  <div class="section-container">
    <div class="app-logo">
      <img src="http://s27.postimg.org/v08r9jveb/icon_white.png" alt="" />
    </div>
    <h1>Sign in to HotelApp</h1>
    <div class="login-form-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <i class="fa fa-user"></i>
          <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
        </div>
        <div class="field">
          <i class="fa fa-lock"></i>
          <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
        <!-- end of form -->
      <% end %>
    </div>
    <hr />

    
    <div class="login-other">
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
</section>
