<section id="section-main" class="section-reservation">
	<div class="w800">
		<div id="status-track">
			<a class="complete" href="#">
				<i class="fa fa-check-circle-o"></i>
				<div class="lbl">Dates</div>
				<div class="sub">Jan 21 - Jan 22</div>
			</a>
			<a class="complete" href="#"><i class="fa fa-th-list"> </i>
				<div class="lbl">Rooms</div>
				<div class="sub">NQ1 - #111</div>
			</a>
			<a class="current" href="#"><i class="fa fa-credit-card"></i>
				<div class="lbl">Payment</div>
			</a>
			<a class="future" href="#"><i class="fa fa-users"></i>
				<div class="lbl">Guest Info</div>
			</a>
		</div>
		
		<h5 class="title">Transactions</h5>
		<table class="trans-list">
			<thead>
				<tr>
					<th>Description</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<% transaction_total = 0.0 %>
				<% @transactions.each do |t| %>					
					<% if t.description.include?("Payment") %>
						<% transaction_total -= t.amount %>
						<tr class="trans-item payment">
							<td class="desc"><i><%= t.description %></i></td>
							<td class="amount"><%= t.amount %></td>
						</tr>
					<% else %>
						<% transaction_total += t.amount %>
						<tr class="trans-item">
							<td class="desc"><%= t.description %></td>
							<td class="amount"><%= t.amount %></td>
						</tr>
					<% end %>
				<% end %>
				<tr class="trans-item">
					<td class="desc"><b>Balance</b></td>
					<td class="amount"><b><%= transaction_total %></b></td>
				</tr>
			</tbody>
		</table>
		
		<h5 class="title">Make a Payment</h5>

		<%= form_for [@reservation, @transaction] do |f| %>		
			<div class="split">
				<div class="card-wrapper"></div>
				<div class="cc-input-c">
					<div class="field split">
						<div class="equal">
							<%= label_tag "cc_first_name", "First Name" %>
							<%= text_field_tag "cc_first_name" %>
						</div>
						<div class="equal">
							<%= label_tag "cc_last_name", "Last Name" %>
							<%= text_field_tag "cc_last_name" %>
						</div>
					</div>
					<div class="field">
						<%= label_tag "cc_number", "Card Number" %>
						<%= text_field_tag "cc_number" %>
					</div>
					<div class="field split">
						<div>
							<%= label_tag "cc_expiry", "Expiry" %>
							<%= text_field_tag "cc_expiry" %>
						</div>
						
						<div>
							<%= label_tag "cc_cvc", "CVC" %>
							<%= text_field_tag "cc_cvc" %>
						</div>					
					</div>
					<div class="field">
						<%= label_tag "cc_amount", "Amount" %>
						<%= number_field_tag "cc_amount", 0.0, step: 0.01 %>
					</div>
				</div>
			</div>			

			<div class="spacer"></div>

			<div class="actions">
				<div><a href="">Cancel</a></div>
				<div>
					<a class="btn btn-aqua" href="#"><i class="fa fa-angle-left fa"></i> Back</a>

					<%= button_tag class: "btn btn-aqua spacer-v" do %>
						Continue <i class="fa fa-angle-right fa"></i>
					<% end %>
				</div>
			</div>

		<% end %>
	</div> <!-- w800 -->
</section>
