<!DOCTYPE html>
<html>
<head>
	<title>HotelApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<!-- current_user.email -->
<!-- Edit Profile - edit_user_registration_path -->
<!-- Logout - destroy_user_session_path -->

<header>
	<div class="header-container">
		<div class="left">
			<%= link_to "HOTELAPP", root_path %>
		</div>
		<div class="right">
			<% if user_signed_in? %>
				<i class="fa fa-question-circle"></i> 
			<% else %>
				Signed In <i class="fa fa-question-circle"></i> 
			<% end %>
		</div>
	</div>
</header>
<!-- 
<div>
	<% if notice %>
		<p class="alert alert-success"><%= notice %></p>
		<br>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%= alert %></p>
		<br>
	<% end %>
	<p><%= params.inspect %></p><br><br>
</div>
-->

<%= yield %>

<footer>
	<div class="footer-inner">
		<div class="footer-item"><a href="#">About</a></div>
		<div class="footer-item"><a href="#">Privacy Policy</a></div>
		<div class="footer-item"><a href="#">Terms and Conditions</a></div>
		<div class="footer-item"><a href="#">Contact</a></div>
	</div>
</footer>
</body>
</html>
